@model IEnumerable<PruebaMVC.Models.Concierto>

<div>
    <div style="height:150px;"></div>
    @await Component.InvokeAsync("ConciertoCarousel", @ViewBag.IdConcierto)
    <div style="height:150px;"></div>
</div>
